* {
    font-family: "Roboto", sans-serif;
    color:white;
    
    
  }
html{
    height: 100%;
}
body{
    text-align: center;
        
    width: auto;
    height: auto;
    background-image: url("/img/bg.png");
    background-size:auto; 
  }
#splash{
    display: flex;
    align-items: center;
    flex-direction: column;
}
button{
    margin-top: 0;
    transition-duration: 0.4s;
    color:rgba(0, 0, 0, 0.8);
    background-color:rgba(255, 255, 255, 0.8);
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
    font-size: 3rem;

}
button:hover{
    background-color: rgba(0, 23, 128, 0.705);
    color: white;
}

#restart{
    margin:auto;
    font-size: 2.5rem;
}
h1{
    margin-bottom: 0 ;
    color:rgba(255, 255, 255, 0.8);
    font-size: 9rem;
}
h2{
    color:rgba(255, 255, 255, 0.8);
    font-size: 2.5rem;
}
p{
    margin: 0;
    font-size: 2rem;
}
h3{
    font-size: 2rem;
}


